<template name="addHall">
    <div class="forms-layouts">

        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title">Add Hall Information</span>
                                        <span><br/><br/>Please Specify Hall information as requested below</span>

                                    </div>
                                    <!-- /Panel Headin -->

                                    <form id="addHallForm" method="post" action="">
                                        <div class="panel-body pn">

                                            <div class="section">
                                                <label for="names" class="field prepend-icon">
                                                <input type="text" name="hallName" id="hallName" class="gui-input"
                                                       placeholder="Hall Name.">
                                                <label for="names" class="field-icon">
                                                    <i class="fa fa-university"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->

                                            <div class="section">
                                                <label for="names" class="field prepend-icon">
                                                <select id="gender" name="gender" class="gui-input">
                                                    <option value="" disabled selected hidden>Gender</option>
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                </select> 
                                                <label for="names" class="field-icon">
                                                    <i class="fa fa-arrow"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /section -->

                                            <div class="section">
                                                <label for="warden-name" class="field prepend-icon">
                                                <input type="text" name="warden" id="warden" class="gui-input"
                                                       placeholder="Warden Name.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->
                                            <div class="section">
                                                <label for="blocks" class="field prepend-icon">
                                                <input type="number" name="blocks" id="blocks" class="gui-input"
                                                       placeholder="Number of Blocks.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-building-o"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /section -->

                                            <div class="section">
                                                <label for="rooms" class="field prepend-icon">
                                                <input type="number" name="rooms" id="rooms" class="gui-input"
                                                       placeholder="Number of Rooms per Block.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-hotel"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->
                                            <div class="section">
                                                <label for="size" class="field prepend-icon">
                                                <input type="number" name="vacancy" id="vacancy" class="gui-input"
                                                       placeholder="Number of Students per Room.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-bars"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->

                                        </div>
                                        <!-- /For -->
                                        <div class="section text-centered">
                                            <button type="submit" class="btn btn-primary btn-bordered ph40">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>
</template>