<template name="addSpecialBlock">
        <div class="forms-layouts">
        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title">Add Special Block Information for {{hallName}}</span>
                                        <span><br/><br/>Note: You can specify blocks for special categories here.</span>

                                    </div>
                                    <!-- /Panel Headin -->

                                    <form id="addSpecialBlockForm" method="post" action="">
                                        <div class="panel-body pn">

                                            <div class="section">
                                                <label for="category" class="field prepend-icon">
                                                <select id="category" name="category" class="gui-input">
                                                    <option value="" selected disabled hidden>Category</option>
                                                    <option value="exec">Runsa Executives</option>
                                                    <option value="exco">Chapel Excos</option>
                                                    <option value="rehab">Rehab Students</option>
                                                    <option value="wheel">Wheelchair Students</option>
                                                    <option value="foundation">Foundation Students</option>
                                                </select>
                                                </label>
                                            </div>
                                            <!-- /section -->

                                            <div class="section">
                                                <label for="blockNo" class="field prepend-icon">
                                                <input type="number" name="blockNo" id="blockNo" class="gui-input"
                                                       placeholder="Block No.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-building-o"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /section -->

                                            <input type="text" name="hallId" id="hallId" value="{{_id}}" hidden>
                                            
                                        </div>
                                        <!-- /For -->
                                        <div class="section text-centered">
                                            <button type="submit" class="btn btn-primary ph40">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>
</template>