<template name="editHall">
    <div class="forms-layouts">
        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title">Edit/Add Hall Information</span>
                                        <span><br/><br/>Note: You can specify blocks for special categories and modify/delete hall information.</span>

                                    </div>
                                    <!-- /Panel Headin -->

                                    <form id="editHallForm" method="post" action="">
                                        <div class="panel-body pn">

                                            <div class="section">
                                                <label for="names" class="field prepend-icon">
                                                <input type="text" name="hallName" id="hallname" class="gui-input"
                                                       placeholder="{{hallName}}" value="{{hallName}}">
                                                <label for="names" class="field-icon">
                                                    <i class="fa fa-university"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->

                                            <div class="section">
                                                <label for="names" class="field prepend-icon">
                                                <select id="gender" name="gender" class="gui-input" value="{{gender}}">
                                                    <option value="" {{selected gender ''}} disabled hidden>Gender</option>
                                                    <option value="M" {{selected gender 'M'}}>Male</option>
                                                    <option value="F" {{selected gender 'F'}}>Female</option>
                                                </select> 
                                                <label for="names" class="field-icon">
                                                    <i class="fa fa-gender"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /section -->

                                            <div class="section">
                                                <label for="warden-name" class="field prepend-icon">
                                                <input type="text" name="warden" id="warden" class="gui-input"
                                                       placeholder="{{warden}}" value="{{warden}}">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->
                                            <div class="section">
                                                <label for="blocks" class="field prepend-icon">
                                                <input type="number" name="blocks" id="blocks" class="gui-input"
                                                       placeholder="{{blocks}}" value="{{blocks}}">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-building-o"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /section -->

                                            <div class="section">
                                                <label for="rooms" class="field prepend-icon">
                                                <input type="number" name="rooms" id="rooms" class="gui-input"
                                                       placeholder="{{rooms}}" value="{{rooms}}">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-hotel"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!-- /sectio -->
                                        </div>
                                        <!-- /For -->
                                        <div class="section text-centered">                                            
                                            <a type="submit" class="btn btn-success ph40 mr15 ml30" href="/addSpecialBlock/{{_id}}">Add Block for Special Category</a>
                                            <button type="submit" class="btn btn-primary ph40 ml15">Change</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>
</template>