<template name="halls">
    <div class="forms-layouts">
        <!-- Body Wrap -->
        <div id="main">

            <!-- Basic FooTable-->
            <div class="panel" id="spy1" style="padding: 25px">
<div class="panel-heading">
    <span class="panel-title">General Hall Information</span>

</div>
<div class="panel-body pn">
    <div class="table-responsive">
        <table class="table footable" data-paging="true">
            <thead>

                <tr>
                    <th>Hall Name</th>
                    <th>Gender</th>
                    <th>Capacity</th>
                    <th>Warden</th>
                    <th>options</th>
                </tr>
            </thead>
            <tbody>

                {{#each halls}}
                <tr>
                    <td><a href="/editHall/{{_id}}">{{hallName}}</a></td>
                    <td>{{genderString gender}}</td>
                    <td>{{hallCapacity}}</td>
                    <th>{{warden}}</th>
                    <td>
                        <a class="btn btn-primary" id="editHall" href="/editHall/{{_id}}">Edit Hall</a>
                        <a class="btn btn-danger" id="deleteHall">Delete Hall</a>
                    </td>
                </tr>
                {{/each}}                
            </tbody>
        </table>
    </div>
</div>
</div>

</div>
<!-- /Body Wrap -->
</div>


<!--  Footable -->
<script src="js/plugins/footable/js/footable.all.min.js"></script>
<script src="js/plugins/footable/js/footable.filter.min.js"></script>

</template>