<template name="adminhome">
    <div class="row text-center">
                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="panel-title">Add Hall</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed to initialize new hall information.</p> <br><br>
                                <p><br/></p>
                                <div class="btn btn-default btn-lg mb5">
                                    <a href = "/addHall">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">Edit Hall Info</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed and edit hall information.</p>
                                <p><br/><br/><br/></p>
                                <div class="btn btn-default btn-lg mb5">
                                    <a href = "/halls">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <span class="panel-title">Add Porter Profile</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed to add porter profile.</p>
                                <p><br/><br/><br/></p>
                                <div class="btn btn-default btn-lg mb5">
                                    <a href = "/addPorter">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        

                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">Edit/Delete Profile</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed to the page with all the registered profiles with the option of modifying or deleting them.</p>
                                <p><br/></p>
                                <div class="btn btn-default btn-lg mb5">
                                    <a href = "/editProfile">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        


            <div class="col-sm-6 col-lg-3">
                <div class="">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="panel-title">Statistics/Reports</span>
                        </div>
                        <div class="panel-body">
                            <p>Select to proceed and View Statistics or Generate Reports.</p>
                            <p><br/></p>
                            <div class="btn btn-default btn-lg mb5">
                                <a href = "/statistics">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>