<template name="home">
<div class="forms-layouts">

<!-- Body Wrap  -->
<div id="main">

    <!-- Sidebar  -->
    <div id="content" class="animated fadeIn">
            {{#if currentUser}}
                <h4 class="text-center mt10 mb25 fw300 text-uppercase" style="margin-top: 75px;"> Welcome, {{user}}</h4>
                {{#if roleIs 'admin'}}
                    {{> adminhome}}
                {{/if}}
                {{#if roleIs 'porter'}}
                    {{> porterhome}}
                {{/if}}
                {{#if roleIs 'student'}}
                    {{> studenthome}}
                {{/if}}
            {{else}}
                    {{> login}}
            {{/if}}
    </div>
        <!-- /Content -->
    
    </div>
<!-- /Body Wrap  -->
</div>
</template>