<template name="login">
<div class="forms-layouts">
            <div class="chute chute-center">
                <div class="">

                    <div class="tab-content mw400 center-block center-children">
                       <!-- Contact For -->
                        <div class="allcp-form theme-primary tab-pane active mw600"  id="contact" role="tabpanel">
                            <div class="panel">

                                <div class="login-panel">
                                <div class="panel-heading">
                                    <span class="panel-title">User Login</span>
                                    <span><br/><br/>NOTE: Login ID for students is their matric number or email address</span>
                                
                                </div>
                                <!-- /Panel Headin -->

                                <form class="login-form">
                                    <div class="panel-body pn">
                                        
                                        <div class="section">
                                            <label for="login_id" class="field prepend-icon">
                                                <input type="text" name="login_id" id="login_id" class="gui-input"
                                                       placeholder="Enter Login ID">
                                                <label for="login_id" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- /section -->

                                        <div class="section">
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" class="gui-input"
                                                       placeholder="Enter password">
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- /sectio -->

                                    </div>
                                    <!-- /For -->
                                    <div class="section text-right mh20">
                                        <button type="submit" class="btn btn-primary ph40 mr25">Login</button>
                                        <a href="#" class="btn btn-info ph40 register">Register</a>
                                    </div>
                                </form>
                                </div>
                                <div class="register-panel">
                                <div class="panel-heading">
                                <span class="panel-title">User Registration</span>
                                <span><br/><br/>NOTE: ID for students is their matric number or email address</span>
                            
                                </div>
                                <!-- /Panel Headin -->
                                <form class="register-form">
                                    <div class="panel-body pn">
                                        
                                        <div class="section">
                                            <label for="login_id" class="field prepend-icon">
                                                <input type="text" name="login_id" id="login_id" class="gui-input"
                                                       placeholder="Enter ID">
                                                <label for="login_id" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="email" class="field prepend-icon">
                                                <input type="text" name="email" id="email" class="gui-input"
                                                       placeholder="Enter Email address">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-envelope"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- /section -->

                                        <div class="section">
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" class="gui-input"
                                                       placeholder="Enter Password">
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="section">
                                            <label for="passwordconfirmation" class="field prepend-icon">
                                                <input type="password" name="password2" id="password2" class="gui-input"
                                                       placeholder="Enter Password Confirmation">
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>

                                    </div>
                                    <!-- /For -->
                                    <div class="section text-right mh20">
                                        <button type="submit" class="btn btn-info ph40 mr25">Register</button>
                                        <a href="#" class="btn btn-primary ph40 login">Login</a>
                                    </div>
                                </form>
                                </div>
                            </div>
                            <!-- /Panel -->
                        </div>
                        <!-- /Contact For -->


                      
                       

                    </div>

                </div>
</div>


<!-- /Body Wrap -->


</div>
</template>