<template name="change">
<div class="forms-layouts">

<!-- Body Wrap -->
<div id="main">
        <!-- Conten -->
        <section id="content" class="table-layout animated fadeIn">

           
            <!-- Column Cente -->
            <div class="chute chute-center">
                <div class="">

                    <div class="tab-content mw900 center-block center-children">


                       <!-- Contact For -->
                        <div class="allcp-form theme-primary tab-pane active mw600"  id="contact" role="tabpanel">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">Change Room</span>
                                    <span><br/><br/>Note: You can change a room of a perticular student by entering his/her roll no. and a valid room no.</span>
                                
                                </div>
                                <!-- /Panel Headin -->

                                <form id="change_form" method="post" action="/hostel/change/">
                                    <div class="panel-body pn">
                                        <div class="section">
                                            <label for="names" class="field prepend-icon">
                                                <input type="text" name="roll_no" class="gui-input"
                                                       placeholder="Roll no.">
                                                <label for="names" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- /sectio -->
                                        
                                        <div class="section">
                                            <label for="email" class="field prepend-icon">
                                                <input type="number" name="block_no" class="gui-input"
                                                       placeholder="Block no.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-building-o"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- /section -->

                                        <div class="section">
                                            <label for="email" class="field prepend-icon">
                                                <input type="number" name="room_no" class="gui-input"
                                                       placeholder="New Room no.">
                                                <label for="email" class="field-icon">
                                                    <i class="fa fa-hotel"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- /sectio -->

                                        
                                        <!-- /sectio -->

                                        <div class="section">
                                           
                                        </div>
                                        <!-- /sectio -->

                                        <div class="section">
                                            <div class="smart-widget sm-left sml-80">
                                                
                                            </div>
                                            <div class="section">
                                            <div class="bs-component pull-left mt10">
                                                
                                            </div>
                                            
                                        </div>
                                            <!-- /Block Widge -->
                                        </div>
                                        <!-- /sectio -->

                                    </div>
                                    <!-- /For -->
                                    <div class="section text-right">
                                          <button class="btn btn-primary btn-bordered ph40"><a href ="/hostel/show_vacancy" target="_blank" style="color:white" >Check Vacancies</a></button>

                                        <button type="submit" class="btn btn-primary btn-bordered ph40">Change</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /Pane -->
                        </div>
                        <!-- /Contact For -->


                      
                       

                    </div>

                </div>
            </div>
            <!-- /Column Cente -->

        </section>
        <!-- /Conten -->
</div>

    <!-- Sidebar Righ -->
    
    <!-- /Sidebar Righ -->

<!-- /Body Wrap -->


</div>

</template>
