<template name="deallocate">
     <div class="forms-layouts">

    <!-- Body Wrap  -->
    <div id="main">

        <!-- Header  -->
        <header class="navbar navbar-fixed-top bg-dark">

            <ul class="nav navbar-nav navbar-left">
                <li class="breadcrumb-icon" style="background-color:rgb(0,0,0)">
<a href="./index.html">
    <span class="fa fa-home"></span>
</a>
</li>
<li class="breadcrumb-active">
    <a href="./index.html" style="font-size: 20px">HMS</a>
</li>

</ul>

<ul class="nav navbar-nav navbar-right">



    <li class="dropdown dropdown-fuse">
        <a href="#" class="dropdown-toggle fw600" data-toggle="dropdown">
            <span class="hidden-xs"><name>admin</name> </span>

        </a>
        <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">

            <li class="dropdown-header clearfix">
                <a href="#" class="btn btn-primary btn-sm btn-bordered logout">
                    <span class="fa fa-power-off pr5"></span> Logout </a>

            </li>


        </ul>
    </li>
</ul>
</header>
<!-- /Header  -->
<!-- Main Wrapper -->
<section id="content_wrapper" style="margin-left:10px">



<!-- Topbar -->
<header id="topbar" class="alt" style="
    margin-top: 75px;
">
<div class="topbar-left">
    <ol class="breadcrumb">
        <!-- dcrumb-icon">
                        <a href="dashboard1.html">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-active">
                        <a href="dashboard1.html">Hostel Management -->
        <li class="breadcrumb-link">
            <a href="./index.html">Home</a>
        </li>
        <li class="breadcrumb-current-item">/ Deallocate Batch</li>
    </ol>
</div>

</header>
<!-- /Topbar -->

<!-- Content -->
<section id="content" class="table-layout animated fadeIn">


    <!-- Column Center -->
    <div class="chute chute-center">
        <div class="">

            <div class="tab-content mw900 center-block center-children">


                <!-- Contact Form -->
                <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Deallocate Batch</span>
                            <span><br/><br/>Note: You can deallocate rooms for an entire batch</span>

                        </div>
                        <!-- /Panel Heading -->

                        <form id="deallocate_form" method="post" action="/hostel/deallocate/">
                            <input type='hidden' name='csrfmiddlewaretoken' value='Pv1o92efslm6tJY26Tbv88DiNulAA6Wc' />
                            <div class="panel-body pn">
                                <div class="section">
                                    <label for="names" class="field prepend-icon">
                                                <input type="integer" name="join_year" class="gui-input"
                                                       placeholder="Joining year for the batch">
                                                <label for="names" class="field-icon">
                                                    <i class="fa fa-users"></i>
                                                </label>
                                    </label>
                                </div>
                                <!-- /section -->

                                <!-- /section -->


                                <!-- /section -->

                                <div class="section">

                                </div>
                                <!-- /section -->

                                <div class="section">
                                    <div class="smart-widget sm-left sml-80">

                                    </div>
                                    <div class="section">
                                        <div class="bs-component pull-left mt10">

                                        </div>

                                    </div>
                                    <!-- /Block Widget -->
                                </div>
                                <!-- /section -->

                            </div>
                            <!-- /Form -->
                            <div class="section text-right">
                                <button type="submit" class="btn btn-primary btn-bordered ph40">Deallocate</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Panel -->
                </div>
                <!-- /Contact Form -->





            </div>

        </div>
    </div>
    <!-- /Column Center -->

</section>
<!-- /Content -->

</section>

</div>
</div>
</template>