<template name="porterhome">
    <div class="row text-center">
                
                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="panel-title">All Requests</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed and see the list of all the students who have requested for the room modifications and then grant or deny the requests.</p>
                                <p><br/></p>
                                <div class="btn btn-default btn-lg mb5">
                                    <a href = "/requests">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">All Student Details</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed to the page with all the students registered with the institute and their details including names, roll no, email and room no.</p>
                                <p><br/></p>
                                <div class="btn btn-default btn-lg mb5">
                                    <a href = "/student-details">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        


            <div class="col-sm-6 col-lg-3">
                <div class="">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="panel-title">All Vacant Rooms</span>
                        </div>
                        <div class="panel-body">
                            <p>Select to proceed and see the rooms in the hostel which are vacant and the further number of students that can be accommodated into the room</p>
                            <p><br/></p>
                            <div class="btn btn-default btn-lg mb5">
                                <a href = "/vacancy">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <span class="panel-title">View Complaints</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed and view room complaints<br/></p>
                                <p><br/><br/><br/><br/></p>
                                    <div class="btn btn-default btn-lg mb5">
                                        <a href="/viewComplaints">Proceed</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
</template>