<template name="requests">
    <div class="forms-layouts">
        <!-- Body Wrap -->
        <div id="main">
{{#if allocationRequests}}
<!-- Basic FooTable-->
<div class="panel" id="spy1" style="padding: 25px">
<div class="panel-heading panel-success">
    <span class="panel-title">Validation Requests</span>

</div>
<div class="panel-body pn">
    <div class="table-responsive">
        <table class="table footable" data-paging="true">
            <thead>

                <tr> <!--can have class="primary"attribute -->
                    <th>Matric No.</th>
                    <th>Full Name </th>
                    <th>Level</th>
                    <th>Assigned Room</th>
                    <th>options</th>
                </tr>
            </thead>
            <tbody>

                {{#each allocationRequests}}
                <tr>
                    <td><a href="#">{{studentId}}</a></td>
                    <td>{{studentName}}</td>
                    <td>{{levelString level}}</td>
                    <th>{{blockNo}}|{{roomNo}}</th>
                    <td><a class="btn btn-success mr10" id="validate-room">Allocate</a> <a class="btn btn-danger" id="reassign">Re-Assign</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
{{else}}
    <div class="panel" id="spy1" style="padding: 25px">
        <div class="panel-body pn">
                <h4 class="text-center fw300 text-uppercase">There are currently no Assignment Requests.</h4>
        </div>
    </div>
{{/if}}
{{#if changeRequests}}
<!-- Basic FooTable-->
<div class="panel" id="spy1" style="padding: 25px">
<div class="panel-heading">
    <span class="panel-title">Re-allocation Requests</span>

</div>
<div class="panel-body pn">
    <div class="table-responsive">
        <table class="table footable" data-paging="true">
            <thead>

                <tr>
                    <th>Reason</th>
                    <th>Student</th>
                    <th></th>
                    <th>Allocated Room</th>
                    <th>options</th>
                </tr>
            </thead>
            <tbody>

                {{#each changeRequests}}
                    <tr>
                        <td><a href="#">{{reason}}</a></td>
                        <td>{{requested_by}}</td>
                        <td></td>
                        <th>{{blockNo}}|{{roomNo}}</th>
                        <td><a class="btn btn-primary" id="reallocate-room">Reallocate</a> <a class="btn btn-danger" id="decline-request">Decline</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>
{{else}}
    <div class="panel" id="spy1" style="padding: 25px">
        <div class="panel-body pn">
                <h4 class="text-center fw300 text-uppercase">There are currently no Requests for room Re-allocation.</h4>
        </div>
    </div>
{{/if}}


</div>
<!-- /Body Wrap -->
</div>

</template>