<template name="studentDetails"> 
<div class="forms-layouts">

<!-- Body Wrap -->
<div id="main">
  <!-- Data Filter-->
                <div class="panel" id="spy2" style="padding:25px">
                    <div class="panel-heading">
                        <span class="panel-title">All Student Details</span>

                        
                    </div>
                    <div class="panel-menu">
                        <input id="fooFilter" type="text" class="form-control"
                               placeholder="Enter Table Filter Criteria Here...">
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table footable" data-filter="#fooFilter" data-paging="true" data-page-navigation="pagination">
                                <thead>
                                <tr>     
                                    <th>Matric No.</th>
                                    <th>Name</th>
                                    <th>Level</th>
                                    <th>Room No.</th>
                                    <th>Special Category</th>
                                    <th>Email id</th>
                                    <th>Department</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each student}} 
                                    <tr>
                                        <td>{{matric_no}}</td>
                                        <td>{{fullName}}</td>
                                        <td>{{levelString level}}</td>
                                        <td>{{blockNo}}|{{roomNo}}</td>
                                        <td>{{category}}</td>
                                        <td>{{email}}</td>
                                        <td>{{department}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


</div>
<!-- /Body Wrap -->

</div>

<!-- Footable -->

<script src="/js/plugins/footable/js/footable.all.min.js"></script>
<script src="/js/plugins/footable/js/footable.js"></script>
<script src="/js/plugins/footable/js/footable.filter.min.js"></script>

</template>
