<template name="vacancy">
<div class="forms-layouts">

<!-- Body Wrap -->
<div id="main">

<!-- Basic FooTable -->

                <div class="panel" id="spy1" style="padding: 20px 100px 20px 100px; margin: 20px 200px">
                    <div class="panel-heading">
                        <span class="panel-title">All Vacant Rooms</span>
                        
                    </div>
                    <div class="panel-body pn ml300 mr300">
                        <div class="table-responsive text-center">
                            <table class="table footable" data-paging="true" data-page-navigation="pagination">
                                <thead>
                                
                                <tr>
                                    <th class="text-center">Block No.</th>
                                    <th class="text-center">Room No.</th>
                                    <th class="text-center">Vacancies</th>
                       
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each room}}
                                        <tr>
                                            <td>{{blockNo}}</td>
                                            <td>{{roomNo}}</td>
                                            <td>{{vacancy}}</td>
                                        </tr>
                                    {{/each}}                              
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

</div>
<!-- /Body Wrap -->


</div>

</template>
