<template name="viewComplaints">
    <div class="forms-layouts">
        <!-- Body Wrap -->
        <div id="main">

            {{#if carpentryComplaint}}
            <!-- Basic FooTable-->
            <div class="panel" id="spy1" style="padding: 25px">
                <div class="panel-heading panel-success">
                    <span class="panel-title">Carpentry Complaints</span>
                </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table footable" data-paging="true">
                                <thead>
                                    <tr>
                                        <!--can have class="primary"attribute -->
                                        <th>Complaint</th>
                                        <th>Submitted By</th>
                                        <th>Room</th>
                                        <th>Date</th>
                                        <th>options</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each carpentryComplaint}}
                                    <tr>
                                        <td>{{complaint}}</td>
                                        <td>{{logged_by}}</td>
                                        <td>{{blockNo}}|{{roomNo}}</td>
                                        <td>{{formatDate createdAt}}</td>
                                        <td><a class="btn btn-danger" id="remove">Remove</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if electricalComplaint}}
                    <!-- Basic FooTable-->
                    <div class="panel" id="spy1" style="padding: 25px">
                    <div class="panel-heading panel-success">
                        <span class="panel-title">Electrical Complaints</span>

                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table footable" data-paging="true">
                                <thead>
                                    <tr>
                                        <!--can have class="primary"attribute -->
                                        <th>Complaint</th>
                                        <th>Submitted By</th>
                                        <th>Room</th>
                                        <th>Date</th>
                                        <th>options</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each electricalComplaint}}
                                    <tr>
                                        <td>{{complaint}}</td>
                                        <td>{{logged_by}}</td>
                                        <td>{{blockNo}}|{{roomNo}}</td>
                                        <td>{{formatDate createdAt}}</td>
                                        <td><a class="btn btn-danger" id="remove">Remove</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    {{/if}}
                    {{#if plumbingComplaint}}
                    <!-- Basic FooTable-->
                    <div class="panel" id="spy1" style="padding: 25px">
                    <div class="panel-heading panel-success">
                        <span class="panel-title">Plumbing Complaints</span>

                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table footable" data-paging="true">
                                <thead>
                                    <tr>
                                        <!--can have class="primary"attribute -->
                                        <th>Complaint</th>
                                        <th>Submitted By</th>
                                        <th>Room</th>
                                        <th>Date</th>
                                        <th>options</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each plumbingComplaint}}
                                    <tr>
                                        <td>{{complaint}}</td>
                                        <td>{{logged_by}}</td>
                                        <td>{{blockNo}}|{{roomNo}}</td>
                                        <td>{{formatDate createdAt}}</td>
                                        <td><a class="btn btn-danger" id="remove">Remove</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    {{/if}}
                    {{#if otherComplaint}}
                    <!-- Basic FooTable-->
                    <div class="panel" id="spy1" style="padding: 25px">
                    <div class="panel-heading panel-success">
                        <span class="panel-title">Other Complaints</span>

                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table footable" data-paging="true">
                                <thead>
                                    <tr>
                                        <!--can have class="primary"attribute -->
                                        <th>Complaint</th>
                                        <th>Submitted By</th>
                                        <th>Room</th>
                                        <th>Date</th>
                                        <th>options</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each otherComplaint}}
                                    <tr>
                                        <td>{{complaint}}</td>
                                        <td>{{logged_by}}</td>
                                        <td>{{blockNo}}|{{roomNo}}</td>
                                        <td>{{formatDate createdAt}}</td>
                                        <td><a class="btn btn-danger" id="remove">Remove</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    {{/if}}
                    {{#if complaints}}
                    {{else}}
                        <div class="panel" id="spy1" style="padding: 25px">
                            <div class="panel-body pn">
                                 <h4 class="text-center fw300 text-uppercase">There are currently no complaints.</h4>
                            </div>
                        </div>
                    {{/if}}
</div>

<!-- /Body -->
</div>
</template>