<template name="404">
<div class="forms-layouts">

<!-- Body Wrap  -->
<div id="main">

  <!-- Content -->
        <section id="content" class="pn animated fadeIn">

            <div class="center-block mt100 mw800 text-center p20">
                <img src="/img/pages/404.png" alt="" class="img-responsive mauto"/>

                <h2 class="mt40 mb20">The requested page cannot be found</h2>

                <h6>
                    Can't find what you need?<br/>
                    Take a moment and do a search below or start from <a href="/">our homepage</a>.
                </h6>
            </div>
            <div class="center-block p20 mw400 text-center">
                
            </div>
        </section>

    </div>
</div>
</template>
