<template name="footer">
    <footer>
    <style>
    /* demo page styles */
    .allcp-form .panel.heading-border:before,
    .allcp-form .panel .heading-border:before {
        transition: all 0.7s ease;
    }
</style>

<!-- Scripts -->

<!-- jQuery -->
<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script src="/js/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- Footable -->
<script src="/js/plugins/footable/js/footable.all.min.js"></script>
<script src="/js/plugins/footable/js/footable.js"></script>
<script src="/js/plugins/footable/js/footable.filter.min.js"></script>
    </footer>
</template>