<head>
    <!-- Meta and Title -->
    <meta charset="utf-8">
    <title>Hostel Management</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link rel='stylesheet' type='text/css'href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">


    <!-- CSS - theme -->
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <!-- CSS - allcp forms -->
    <link rel="stylesheet" type="text/css" href="/allcp/forms/css/forms.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- Glyphs for FooTable -->
    <link rel="stylesheet" type="text/css" href="/js/plugins/footable/css/footable.core.min.css">

    <!-- IE8 HTML5 support  -->
    <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></sc -->

</head>