<template name="navbar">
<!-- Header  -->
    <header class="navbar navbar-fixed-top bg-dark">
        
        <ul class="nav navbar-nav navbar-left">
                <li class="breadcrumb-icon" style="background-color:rgb(0,0,0)">
                        <a href="/">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-active">
                        <a href="/" style="font-size: 20px" class="fw300">HMS</a>
                    </li>
                
                </ul>
        
            
            
    
        <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown dropdown-fuse">
                <a href="#" class="dropdown-toggle fw600" data-toggle="dropdown">
                    <span class="hidden-xs"><name>{{getUsername}}</name> </span>
                   
                </a>
                <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">
                    
                    <li class="dropdown-header clearfix">
                        <a href="#" class="btn btn-primary btn-sm btn-bordered logout">
                            <span class="fa fa-power-off pr5"></span> Logout </a>

                    </li>
                   
                    
                </ul>
            </li>
            {{#if currentUser}}
            <li>
                <a href="#" class="btn btn-xs logout">
                    <span class="fa fa-power-off pr5"></span> Logout 
                </a>
            </li>
            {{/if}}
        </ul>
    </header>
    <!-- /Header  -->
 <!-- Topbar -->
<header id="topbar" class="alt" style="
    margin-top: 75px;
">
            <div class="topbar-left">
                <ol class="breadcrumb text-capitalize">
                    <li class="breadcrumb-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-current-item">/ {{currentRoute}}</li>
                </ol>
            </div>
            
        </header>
        <!-- /Topbar -->
</template>