<template name="changeRequest">
     <div class="forms-layouts">

        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                       <span class="panel-title">Change Room Request</span>
                                    <span><br/><br/>Note: You can submit a request to change your current alloted room, giving an appropriate reason for the request.</span>
                                    </div>
                                    <!-- /Panel Headin -->

                                    <form id="change_req_form">
                                        <div class="panel-body pn">


                                            <!--  /section  -->

                                             <div class="section">
                                            <label for="comment" class="field prepend-icon">
                          <textarea class="gui-textarea" name="reason" id="reason"
                                    placeholder="Reason for request"></textarea>
                                                <label for="comment" class="field-icon">
                                                    <i class="fa fa-question-circle"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!--  /section  -->

                                        <div class="section">
                                            
                                            <div class="section">
                                            <div class="bs-component pull-left mt10">
                                                <div class="checkbox-custom checkbox-primary mb10">
                                                    <input type="checkbox" name="flag" value="agreed" id="agree" required>
                                                    <label for="agree">Are you sure?</label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                            <!--  /Block Widget  -->
                                        </div>
                                        <!--  /section  -->

                                    </div>
                                    <!--  /Form  -->
                                    <div class="section text-right">
                                        <button type="submit" class="btn btn-primary btn-bordered ph40">Submit</button>
                                    </div>
                                </form>
                                </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>
</template>