<template name="complaints">
    <div class="forms-layouts">

        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title">Complaint Form</span>
                                        <span><br/><br/>Note: You can Submit Room complaints under a specific category</span>

                                    </div>
                                    <!-- /Panel Headin -->

                                    <form id="complaint_form">
                                        <div class="panel-body pn">


                                            <!--  /section  -->

                                            <div class="section">
                                                <label for="complaint" class="field prepend-icon">
                          <textarea class="gui-textarea" name="complaint" id="complaint" placeholder="Reason for complaint"></textarea>
                                                <label for="comment" class="field-icon">
                                                    <i class="fa fa-question-circle"></i>
                                                </label>
                                                </label>
                                            </div>
                                            <!--  /section  -->

                                            <div class="section">

                                                <div class="section">
                                                    <div class="bs-component pull-left mt10">
                                                        <label class="block mt15 option option-primary">
                                                        <input type="radio" name="category" id="category" value="carpentry">
                                                        <span class="radio"></span>Carpentry</label>
                                                    </div>
                                                </div>
                                                <div class="section">
                                                    <div class="bs-component pull-left mt10">
                                                        <label class="block mt15 option option-primary">
                                                        <input type="radio" name="category" id="category" value="plumbing">
                                                        <span class="radio"></span>Plumbing</label>
                                                    </div>
                                                </div>
                                                <div class="section">
                                                    <div class="bs-component pull-left mt10">
                                                        <label class="block mt15 option option-primary">
                                                        <input type="radio" name="category" id="category" value="electrical">
                                                        <span class="radio"></span>Electrical</label>
                                                    </div>
                                                </div>
                                                <div class="section">
                                                    <div class="bs-component pull-left mt10">
                                                        <label class="block mt15 option option-primary">
                                                        <input type="radio" name="category" id="category" value="other" checked>
                                                        <span class="radio"></span>Other</label>
                                                    </div>
                                                </div>

                                            </div>
                                        <!--  /section  -->
                                            

                                        </div>
                                        <!--  /Form  -->
                                        <div class="section text-right">
                                            <button type="submit" class="btn btn-primary btn-bordered ph40">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>

</template>