<template name="student">
<div class="forms-layouts">

    <!-- Body Wrap  -->
    <div id="main">

<!-- Sidebar  -->
<div id="content" class="animated fadeIn">
{{#if student}}
    <h3 class="text-center mt10 mb25 fw400" style="margin-top: 75px;"> Your Room Details</h3>

<div class="row">
    <div class="col-sm-6 col-md-2">
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="bs-component">
            <div class="panel panel-tile text-primary br-b bw5 br-primary-light">
                <div class="panel-body pl20 p5">
                    <i class="fa fa-hotel icon-bg"></i>

                    <h2 class="mt15 lh15">
                        <b>{{student.blockNo}}|{{student.roomNo}}</b> 
                    </h2>
                    <h5 class="text-muted">Room No.</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-md-4">
        <div class="bs-component">
            <div class="panel panel-tile text-primary br-b bw5 br-primary-light">
                <div class="panel-body pl20 p5">
                    <i class="fa fa-users icon-bg"></i>

                    <h2 class="mt15 lh15">
                        <b>{{student.vacancy}}</b>
                    </h2>
                    <h5 class="text-muted">Vacancy</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-2">
    </div>
    <div class="col-sm-6 col-md-4">
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="bs-component">
            <div class="panel panel-tile text-primary br-b bw5 br-primary-light">
                <div class="panel-body pl20 p5">
                    <h3 class="mt15 lh15 text-muted">
                        <b>The occupants of room {{student.blockNo}}|{{student.roomNo}} are: <br/><br/></b>
                    </h3>
                    <h5 class="">
                        {{student.roomieNames1}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{student.occupant1}}<br/>
                        {{student.roomieNames2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{student.occupant2}}<br/>
                        {{student.roomieNames3}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{student.occupant3}}<br/>
                    </h5>
                </div>
            </div>
        </div>

    </div>




</div>
{{else}}
    <h3 class="text-center mt10 mb25 fw300" style="margin-top: 75px;">Sorry, You haven't been allocated a room yet.</h3>
{{/if}}
</div>
<!-- /Content -->
</div>
<!-- /Body Wrap  -->


</div>
</template>