<template name="studenthome">
     <div class="row text-center">
                {{#if unassigned}}
                    <div class="col-sm-6 col-lg-3">
                        <div class="">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="panel-title">Submit Allocation Form</span>
                                </div>
                                <div class="panel-body">
                                    <p>Submit an allocation form in order to be allocated a room.</p> <br>
                                    <p><br/></p>
                                        <a href = "/submitAllocationForm" class="btn btn-default btn-lg mb5"><span class="bluelink"> Proceed</span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}

                <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <span class="panel-title">View Room Details</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed to the page with containing room details.</p><br/>
                                <p><br/></p>
                                
                                    <a href = "/student/{{userId}}">
                                        <div class="btn btn-default btn-lg mb5">Proceed</div>
                                    </a>
                                
                            </div>
                        </div>
                    </div>
                </div>        


            <div class="col-sm-6 col-lg-3">
                <div class="">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <span class="panel-title">Submit Complaint</span>
                        </div>
                        <div class="panel-body">
                            <p>Select to proceed and submit complaints about room under distinct categories.</p>
                            <p><br/></p>
                            <div class="btn btn-default btn-lg mb5">
                                <a href = "/complaints">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{#if changeRequested}}
            {{else}}
            <div class="col-sm-6 col-lg-3">
                    <div class="">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-title">Change Room Request</span>
                            </div>
                            <div class="panel-body">
                                <p>Select to proceed with submitting the change of room request with a reason.<br/></p>
                                <p><br/></p>
                                    <div class="btn btn-default btn-lg mb5">
                                        <a href="/changeRequest">Proceed</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
</template>