<template name="submitAllocationForm">
  <div class="forms-layouts">

        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title">Hall Allocation Form</span>
                                        <span><br/><br/>Please provide information that will be required for the system to assign you a room.</span>

                                    </div>
                                    <!-- /Panel Headin -->

    <form class="allocationForm">
        <div class="panel-body pn">

            <div class="section">
                <label for="fullName" class="field prepend-icon">
                    <input type="text" name="fullName" id="fullName" class="gui-input"
                            placeholder="FullName">
                    <label for="fullName" class="field-icon">
                        <i class="fa fa-user"></i>
                    </label>
                </label>
            </div>

            <div class="section">
                <div class="section">
                    <div class="bs-component pull-left mt10">
                        <label class="block mt15 option option-primary">
                        <input type="radio" name="gender" id="gender" value="M" checked>
                        <span class="radio"></span>Male</label>
                    </div>
                </div>
                <div class="section">
                    <div class="bs-component pull-left mt10">
                        <label class="block mt15 option option-primary">
                        <input type="radio" name="gender" id="gender" value="F">
                        <span class="radio"></span>Female</label>
                    </div>
                </div>
                <br/><br/>
            </div>

            <div class="section"><br/></div>

            <div class="section">
                <label for="level" class="field prepend-icon">
                    <input type="number" name="level" id="level" class="gui-input"
                            placeholder="Enter current level. If Foundation, level is 000">
                    <label for="fullName" class="field-icon">
                        <i class="fa fa-bars"></i>
                    </label>
                </label>
            </div>
            <div class="section">
                <label for="department" class="field prepend-icon">
                    <input type="text" name="department" id="department" class="gui-input"
                            placeholder="Department">
                    <label for="email" class="field-icon">
                        <i class="fa fa-book"></i>
                    </label>
                </label>
            </div>
            <!-- /section -->

            <div class="section">
                <p>Choose all categories that apply to you below</p>
                <div class="section mt10">
                    <div class="bs-component pull-left mt10">
                        <div class="checkbox-custom checkbox-primary mb10">
                            <input type="checkbox" name="exec" value="exec" id="exec">
                            <label for="exec">Runsa Exec</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="section mt10">
                    <div class="bs-component pull-left mt10">
                        <div class="checkbox-custom checkbox-primary mb10">
                            <input type="checkbox" name="exco" value="exco" id="exco">
                            <label for="exco">Chapel Exco</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="section mt10">
                    <div class="bs-component pull-left mt10">
                        <div class="checkbox-custom checkbox-primary mb10">
                            <input type="checkbox" name="wheel" value="wheel" id="wheel">
                            <label for="wheel">WheelChair?</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="section mt10">
                    <div class="bs-component pull-left mt10">
                        <div class="checkbox-custom checkbox-primary mb10">
                            <input type="checkbox" name="rehab" value="rehab" id="rehab">
                            <label for="rehab">Rehab??</label>
                        </div>
                    </div>

                </div>
                <br/>
                <div class="section mt10">
                    <div class="bs-component pull-left mt10">
                        <div class="checkbox-custom checkbox-primary mb10">
                            <input type="checkbox" name="none" value="none" id="none">
                            <label for="none">None of the above</label>
                        </div>
                    </div>

                </div>
                <br/>
                
                <!--  /Block Widget  -->
            </div>
            <!--  /section  -->

        </div>
        <!-- /For -->
        <div class="section text-right mh20">
            <button type="submit" class="btn btn-info ph40 mr25">Submit Form</button>
        </div>
    </form>
    </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>
</template>