<template name="unfinishedbusiness">
    You have unfinished business, you cant be here rn.
    Pls finish the registration/application and come back when you have been assigned a room 
    <a href="/submitAllocationForm">Go Here</a>
</template>