<template name="addPorter">
        <div class="forms-layouts">

        <!-- Body Wrap -->
        <div id="main">
            <!-- Conten -->
            <section id="content" class="table-layout animated fadeIn">


                <!-- Column Cente -->
                <div class="chute chute-center">
                    <div class="">

                        <div class="tab-content mw900 center-block center-children">


                            <!-- Contact For -->
                            <div class="allcp-form theme-primary tab-pane active mw600" id="contact" role="tabpanel">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title">Add Porter Profile</span>
                                        <span><br/><br/>Please provide information that will be required for porter authentication below</span>

                                    </div>
                                    <!-- /Panel Headin -->

    <form class="addPorterForm">
        <div class="panel-body pn">

            <div class="section">
                <label for="login_id" class="field prepend-icon">
                    <input type="text" name="login_id" id="login_id" class="gui-input"
                            placeholder="Enter Porter's' ID">
                    <label for="login_id" class="field-icon">
                        <i class="fa fa-user"></i>
                    </label>
                </label>
            </div>
            <div class="section">
                <label for="porter name" class="field prepend-icon">
                    <input type="text" name="porterName" id="porterName" class="gui-input"
                            placeholder="Enter Porter's' Full Name">
                    <label for="porter name" class="field-icon">
                        <i class="fa fa-user"></i>
                    </label>
                </label>
            </div>
            <div class="section">
                <label for="email" class="field prepend-icon">
                    <input type="text" name="email" id="email" class="gui-input"
                            placeholder="Enter Porter's Email address">
                    <label for="email" class="field-icon">
                        <i class="fa fa-envelope"></i>
                    </label>
                </label>
            </div>
            <!-- /section -->
            <div class="section">
                <div class="section">
                    <div class="bs-component pull-left mt10">
                        <label class="block mt15 option option-primary">
                        <input type="radio" name="gender" id="gender" value="M" checked>
                        <span class="radio"></span>Male</label>
                    </div>
                </div>
                <div class="section">
                    <div class="bs-component pull-left mt10">
                        <label class="block mt15 option option-primary">
                        <input type="radio" name="gender" id="gender" value="F">
                        <span class="radio"></span>Female</label>
                    </div>
                </div>
                <br/><br/>
            </div>

            <div class="section mt50">
                <label for="password" class="field prepend-icon">
                    <input type="password" name="password" id="password" class="gui-input"
                            placeholder="Enter Porter's Password">
                    <label for="password" class="field-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                </label>
            </div>
            <div class="section">
                <label for="passwordconfirmation" class="field prepend-icon">
                    <input type="password" name="password2" id="password2" class="gui-input"
                            placeholder="Enter Password Confirmation">
                    <label for="password" class="field-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                </label>
            </div>

        </div>
        <!-- /For -->
        <div class="section text-right mh20">
            <button type="submit" class="btn btn-info ph40 mr25">Create Porter Profile</button>
        </div>
    </form>
    </div>
                                <!-- /Pane -->
                            </div>
                            <!-- /Contact For -->





                        </div>

                    </div>
                </div>
                <!-- /Column Cente -->

            </section>
            <!-- /Conten -->
        </div>

        <!-- Sidebar Righ -->

        <!-- /Sidebar Righ -->

        <!-- /Body Wrap -->


    </div>
</template>