<template name="editProfile">
    <div class="forms-layouts">

<!-- Body Wrap -->
<div id="main">
  <!-- Data Filter-->
                <div class="panel" id="spy2" style="padding:25px; margin:10px 200px">
                    <div class="panel-heading">
                        <span class="panel-title">All Users</span>

                        
                    </div>
                    <div class="panel-menu">
                        <input id="fooFilter" type="text" class="form-control"
                               placeholder="Enter user info Here...">
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table footable" data-filter="#fooFilter" data-paging="true">
                                <thead>
                                <tr>     
                                    <th class="text-center">User</th>
                                    <th class="text-center">Options</th>
                                </tr>
                                </thead>
                                <tbody  class="text-center">
                                {{#each accounts}} 
                                    <tr>
                                        <td>{{username}}</td>
                                        <td><a href="#" class="btn btn-danger" id="delete-user">Delete User</a></td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


</div>
<!-- /Body Wrap -->

</div>
</template>